h1 {
    background-color:pink;
    color:white;
}
.p1{
    color:yellow;
}
html{
    background-color:gray
}
.p2{
    color:greenyellow;
}
.p3{
    color:aquamarine;
}
.border1{
    padding:80px;
    background-color:white;
    border:10px solid orange;
    text-align: center;
}
p{
    color:white
}
li{
    padding:80px;
    background-color:white;
    border:10px solid green;
    display: inline-block;
}